<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Metadata Editor</title>
<!----><link rel="stylesheet" type="text/css" href="../static/main.css" media="all">
<script type="text/javascript" src="../static/main.js"></script>
</head>
<script type="text/javascript">
    function change_bg(id, col) {
        var d = document.getElementById(id);
        d.style.background == col;
    }
</script>
<script type="text/javascript">
   function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block' || e.style.display == '')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }
</script>
<script>
   function change_button(id) {
       var f = document.getElementById(id);
       if(f.innerHTML.includes('▼'))
          f.innerHTML = f.innerHTML.replace(/▼/g,"▲");
       else if(f.innerHTML.includes('▲'))
          f.innerHTML = f.innerHTML.replace(/▲/g,"▼");
   }
</script>
<body id="main_body" >
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    {% endif %}
{% endwith %}
</ul>
<div class="form">
    <form method="POST" action="/" enctype="multipart/form-data">
    <div class="line">
    <h2 class="title">{{ title }} Single</h2><span>
    <input name="change" type="submit" value="Change to Multiple Files">
    </span></div>
  
      {{ form.hidden_tag()}}
      <input id="submit" name="submit" type="submit" value="Generate">
      <div class="line">{{ form.schema_file.label }} <span id="file_span"> {{ form.schema_file }}
      <label id="file_bg" for="schema_file">Upload File: {{def_schema}}</label></span>
      </div>
      <div class="line">{{ form.ref_file.label }} <span id="file_span"> {{ form.ref_file }}
      <label id="file_bg" for="ref_file">Upload File: {{def_ref}}</label></span>
      </div>
      <div class="line">
      <label class="overwritebox" for="overwrite">Overwrite Reference File</label><span>
      <input type="checkbox" id="overwrite" name="overwrite" value="True"
      {% if ovr == "True" %}
      checked
      {% endif %}>
      </span>
      </div>
      <div class="line">
      <label class="overwritedate" for="overdate">Overwrite DateTime</label><span>
      <input type="checkbox" id="overdate" name="overdate" value="True"
      {% if ovrd == "True" %}
      checked
      {% endif %}>
      </span>
      </div>
      <input type="submit" name="upload" value = "Upload Files">
      <p> Schema default is schema.yml, and reference file default is empty 
      Reference file is used to pre-fill in information [work in progress for selection menus]  </p>
      <div class="line">
      <label for="output_loc">Output Location: </label>
      <span><input id="output_loc" name="output_loc" type="text" value="{{out_loc}}" size="80"></span>
      </div>
      <div>
      <input type="submit" name="update" value = "Update Fields">
      </div>
      <br>
      <!--<input type="submit" name="update" value = "Update DateTime">-->
      {% for key1,val1 in to_p.items() %}
        <div class "button-class">
        <button id="but-{{key1}}" type="button" onclick="toggle_visibility('hide-{{key1}}');change_button('but-{{key1}}');">▲ {{ key1 }} ▲</button>
        </div>
        <div class="hide" id="hide-{{key1}}" style="display: block">
        {% if val1 is mapping %}
            {% for key2,val2 in val1.items() %}
                {% if val2 is mapping %}
                    {% for key3,val3 in val2.items() %}
                        {% if val3 is mapping %}
                            <p>OK</p>
                        {% else %}
                            {% if val3 in ['string','number','file'] %}
                                <div class="line">
                                <label for="{{key1}};{{key2}};{{key3}}">{{key2}} {{ key3 }}:</label>
                                <span>
                                {% if key1 in data and key2 in data[key1] and key3 in data[key1][key2] %}
                                    <input id="{{key1}};{{key2}};{{key3}}" name="{{key1}};{{key2}};{{key3}}" type="text" value="{{ data[key1][key2][key3] }}">
                                {% elif key1 in ref and key2 in ref[key1] and key3 in ref[key1][key2] %}
                                    <input id="{{key1}};{{key2}};{{key3}}" name="{{key1}};{{key2}};{{key3}}" type="text" value="{{ ref[key1][key2][key3] }}">
                                {% else %}
                                    <input id="{{key1}};{{key2}};{{key3}}" name="{{key1}};{{key2}};{{key3}}" type="text" value="">
                                {% endif %}
                                </span>
                                </div>
                            {% else %}
                                <div class="line">
                                <label for="{{key1}};{{key2}};{{key3}}">{{ key3 }}:</label>
                                <span><select name="{{key1}};{{key2}};{{key3}}" id="{{key1}};{{key2}};{{key3}}">
                                {% set flag = namespace() %}
                                {% set flag.i = 0 %}
                                {% for option in val3.split(',') %}
                                    {% if key1 in data and key2 in data[key1] and key3 in data[key1][key2] and data[key1][key2][key3] == option%}
                                        {% set flag.i = 1%}
                                        <option value="{{option}}" selected>{{option}}</option>
                                    {% elif key1 in ref and key2 in ref[key1] and key3 in ref[key1][key2] and ref[key1][key2][key3] == option%}
                                        {% set flag.i = 1%}
                                        <option value="{{option}}" selected>{{option}}</option>
                                    {% elif option == 'Null' and flag.i == 0 %}
                                        <option value="{{option}}" selected>{{option}}</option>
                                    {% else %}
                                        <option value="{{option}}">{{option}}</option>
                                    {% endif %}
                                {% endfor %}
                                </select></span>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% if val2 in ['string','number','file'] %}
                        <div class="line">
                        <label for="{{key1}};{{key2}}">{{ key2 }}:</label>
                        <span>
                        {% if key1 in data and key2 in data[key1] %}
                            <input id="{{key1}};{{key2}}" name="{{key1}};{{key2}}" type="text" value="{{ data[key1][key2] }}">
                        {% elif key1 in ref and key2 in ref[key1] and key2 in ref[key1] %}
                            <input id="{{key1}};{{key2}}" name="{{key1}};{{key2}}" type="text" value="{{ ref[key1][key2] }}">
                        {% else %}
                            <input id="{{key1}};{{key2}}" name="{{key1}};{{key2}}" type="text" value="">
                        {% endif %}
                        </span>
                        </div>
                    {% else %}
                        <div class="line">
                        <label for="{{key1}};{{key2}}">{{ key2 }}:</label>
                        <span>
                        <select name="{{key1}};{{key2}}" id="{{key1}};{{key2}}">
                        {% set flag = namespace() %}
                        {% set flag.i = 0 %}
                        {% for option in val2.split(',') %}
                            {% if key1 in data and key2 in data[key1] and data[key1][key2] == option %}
                                {% set flag.i = 1%}
                                <option value="{{option}}" selected>{{option}}</option>
                            {% elif key1 in ref and key2 in ref[key1] and ref[key1][key2] == option %}
                                {% set flag.i = 1%}
                                <option value="{{option}}" selected>{{option}}</option>
                            {% elif option == 'Null' and flag.i == 0 %}
                                <option value="{{option}}" selected>{{option}}</option>
                            {% else %}
                                <option value="{{option}}">{{option}}</option>
                            {% endif %}
                        {% endfor %}
                        </select></span>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if val1 in ['string','number','file'] %}
                <div class="line">
                <label for="{{key1}}">{{ key1 }}:</label>
                <span>
                {% if dt_value != '' and key1 == 'datetime' %}
                    <input id="{{key1}}" name="{{key1}}" type="text" value="{{ dt_value }}">
                {% elif key1 in data %}
                    <input id="{{key1}}" name="{{key1}}" type="text" value="{{ data[key1] }}">
                {% elif key1 in ref %}
                    <input id="{{key1}}" name="{{key1}}" type="text" value="{{ ref[key1] }}">
                {% else %}
                    <input id="{{key1}}" name="{{key1}}" type="text" value="">
                                    
                {% endif %}
                </span>
                </div>
            {% else %}
                <div class="line">
                <label for="{{key1}}2">{{ key1 }}:</label>
                <span>
                <select name="{{ key1 }}" id="{{ key1 }}">
                {% set flag = namespace() %}
                {% set flag.i = 0 %}
                {% for option in val1.split(',') %}
                    {% if key1 in data and data[key1] == option %}
                        {% set flag.i = 1%}
                        <option value="{{option}}" selected>{{option}}</option>
                    {% elif key1 in ref and ref[key1] == option %}
                        {% set flag.i = 1%}
                        <option value="{{option}}" selected>{{option}}</option>
                    {% elif option == 'Null' and flag.i == 0 %}
                        <option value="{{option}}" selected>{{option}}</option>
                    {% else %}
                        <option value="{{option}}">{{option}}</option>
                    {% endif %}
                {% endfor %}
                </select></span>
                </div>
            {% endif %}
        {% endif %}
        </div>    
      {% endfor %}
    </form>
</div>
{% endblock %}
</body>
</html>